<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DinnersManagerConnStr" 
			 connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=DinnersManager; Integrated Security=True"
             providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>